[submodule "waf/modsecurity/3/conf/modsecurity.d/coreruleset"]
	path = waf/modsecurity/3/conf/modsecurity.d/coreruleset
	url = https://github.com/coreruleset/coreruleset.git
	branch = v3.3/master

[submodule "waf/modsecurity-crs/3.3-nginx/conf/modsecurity.d/owasp-crs"]
  path = waf/modsecurity-crs/3.3-nginx/conf/modsecurity.d/owasp-crs
	url = https://github.com/coreruleset/coreruleset.git
	branch = v3.3/master
	
[submodule "images-ubuntu"]
	path = images-ubuntu
	url = https://github.com/ma3310/images-ubuntu
	branch = master
	
[submodule "images-php"]
	path = images-php
	url = https://github.com/ma3310/images-php.git

[submodule "net-core/mslearn-hotel-reservation-system/mslearn-hotel-reservation-system"]
	path = net-core/mslearn-hotel-reservation-system/mslearn-hotel-reservation-system
	url = https://github.com/MicrosoftDocs/mslearn-hotel-reservation-system.git

	