[submodule "waf/modsecurity/3/conf/modsecurity.d/coreruleset"]
	path = waf/modsecurity/3/conf/modsecurity.d/coreruleset
	url = https://github.com/coreruleset/coreruleset.git
[submodule "ubuntu"]
	path = images-ubuntu
	url = https://github.com/ma3310/images-ubuntu
[submodule "images-php"]
	path = images-php
	url = https://github.com/ma3310/images-php.git
