# Deployed the service in bridge then map 3306 port to host.
version: '3.3'  # To use file based secrets.

services:
    prepare:
        image: ubuntu:20.04
        container_name: csk-one-time-running
        volumes:
            - './logs:/mnt'
        command:
            # Prepare log files for late using.
            sh -c "touch /mnt/modsec_audit.log /mnt/php7.4-fpm.log"

    php-7.4:
        image: 'ma3310/php:7.4-nginx-ubuntu-20.04'
        restart: unless-stopped
        ports:
            # HOST:CONTAINER
            - '8074:80'
            - '44374:443'
        volumes:
            - './conf/nginx/sites-enabled:/etc/nginx/sites-enabled'
            - './conf/php/7.4:/etc/php/7.4'
            - './logs/php7.4-fpm.log:/var/log/php7.4-fpm.log'
            - './logs/nginx:/var/log/nginx'
            - '/etc/letsencrypt:/etc/letsencrypt'
            - '~:/root'
        networks:
            - default

    # Database Services
    # Choose one of the Database service, or specified no conflict port to start services.
    mysql-5.7:
        image: 'mysql:5.7'
        container_name: csk-mysql-5.7
        restart: unless-stopped
        environment:
            MYSQL_ROOT_PASSWORD_FILE: /run/secrets/mysql_root_password
        volumes:
            - "./conf/mysql-5.7/mysql.conf.d:/etc/mysql/mysql.conf.d"
            - "./data/mysql-5.7:/var/lib/mysql"
            - "./logs/mysql-5.7:/var/log/mysql:rw"
        command: 
            '/bin/sh -c "chown -R mysql:mysql /var/log/mysql; docker-entrypoint.sh mysqld"'
        secrets:
            - mysql_root_password
        ports:
            # HOST:CONTAINER
            - "33576:3306"
        networks:
            - default

    mysql-8.0:
        image: 'mysql:8.0'
        container_name: csk-mysql-8.0
        restart: unless-stopped
        environment:
            MYSQL_ROOT_PASSWORD_FILE: /run/secrets/mysql_root_password
        volumes:
            - './conf/mysql-8.0/my.cnf/etc/mysql/my.cnf'
            - './conf/mysql-8.0/conf.d:/etc/mysql/conf.d'
            - './data/mysql-8.0:/var/lib/mysql'
            - './logs/mysql-8.0:/var/log/mysql:rw'
        command: '/bin/sh -c "chown -R mysql:mysql /var/log/mysql; docker-entrypoint.sh mysqld"'
        secrets:
            - mysql_root_password
        ports:
            # HOST:CONTAINER
            - "33806:3306"
        networks:
            - default

# Password need be refresh through radom value on production environment.            
secrets:
    mysql_root_password:
        file: ./MYSQL_ROOT_PASSWORD
